.bg{
    background-color: #EDD263;
   
}
.header-nav{
    margin: 0 auto;
}
.btn-color{
    background-color: #3B2D64;
    color: white;
}
.position{
    margin: 0 auto;
}
.search-box{
      width: 350px;
}
