body{
   background-color: #EDD263;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 10px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0; 
}
.foodStyle{
    border: 1px solid rgb(197, 178, 178);
    padding: 10px;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #8f7f3f;
   
}
.foodStyle img{
    width: 260px;
    height: 150px;
}
.foodStyle h5{
    margin-top: 15px;
}
.food-style{
    display: grid;
   grid-template: "a a a a" 
               "b b b b" auto;
}
.image{
    width: 700px;
    height: 500px;
}

